body{
  font-family: Arial, sans-serif;
  line-height: 1.1;
  margin: 0 6rem;
  margin-top: 7rem;
  padding: 0;
  color: #333;
  background-color: #fec086a8;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-image: url(../assets/1000219605.png);
}



.poligono{
  width: 0;
  height: 0;
  border-left: 35rem solid transparent;
  border-bottom: 35rem solid #931F1D;
  position: absolute;
  right: 0;
  transform: rotate(-90deg);
  z-index: -1;
  margin-top: -5rem;
}

h1,
h2,
p {
  color: #fff;
}


h1 {
  font-family: "Literata", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  margin-top: 10rem;
}

h2 {
  font-family: "Literata", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.75rem;
}

.conteudo{
  margin-left: 7.25rem;
  margin-right: 6rem;
}


p {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  margin-top: 3.2rem;
  width: 42rem;
}

.tituloBotoes {
  margin-top: 5rem;
}


.botao {
  background-color: #931F1D;
  color: #FEFAE1;
  padding: 1.875rem;
  width: 20rem;
  height: 8rem;

  border: none;
  border-radius: 3.125rem;

  font-size: 1.25rem;
}

.botao:hover{
  cursor: pointer;
}

.botoes {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  width: fit-content;
  margin: 6rem auto;
}


.fluxo{
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
      display: flex;
      align-items: center;
      gap: 2rem;
  }
}

.setaEsquerda {
  transform: rotate(180deg);
  width: 1.5rem;
}

.setaDireita {
  width: 1.5rem;
}

.botao{
  font-family: "Literata", sans-serif;
}

.cl{
  display: flex;
  margin-inline: auto;
  margin-block: auto;
  justify-content: center;
  margin-left: 28rem;

  p{
    font-weight: 800;
  }
}

button:hover {
  transform: translateY(-0.1875rem);
  box-shadow: 0 0.5rem 1.25rem #ff000059;
  transition: 0.5s;
}

.logout-box p {
    width: auto !important;
    margin-top: 1rem !important;
    font-size: 1rem !important;
  text-align: center;
}