body {
  background-color: #713C12;
  background-image: url(../HOME/imgs/fundinho.png);
  overflow-x: hidden;
}

.conteudo {
  line-height: 1.1;
  margin: 0 6rem;
  margin-top: 7rem;
  padding: 0;
}

h1, h2, h4, p, ul {
  color: #F5F5F5;
}

h1 {
  font-family: "Literata", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem; 
}
h2 {
  font-family: "Literata", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.75rem; 
}

h4 {
  font-family: "Literata", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6875rem; 
  margin-bottom: 0.938rem;
}

.conteudo p {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  font-size: 1.25rem; 
  font-style: normal;
  margin-top: 3.2rem;
}

.primeiroParagrafo {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  text-align: right;
  gap: 12rem;
}

.segundoParagrafo {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  gap: 12rem;
  border-bottom: 1.5rem;
}

.evite {
  background-color: #512D11;
  margin: auto;
  width: 65rem;
  height: 12.5rem;
  border-left: 2rem solid #512D11;
  border-right: 5rem solid #512D11;
  border-top: 1rem solid #512D11;
  border-bottom: 2rem solid #512D11;
  margin-top: 4rem;
  border-radius: 1.5rem;

  ul {
      list-style-type: square;
      padding-left: 2.5rem; 
  }

  ul li {
      display: list-item;
  }

  h3{
    padding-top: 1rem;
  }

  li{
    font-size: 1.3rem;
  }

}

.lembrete{
  color: #fff;
  margin: 0 auto;
  text-align: center;
  
  p{
    font-family: "Sulphur Point", sans-serif;
  }

  h4{
    font-family: "Lato", serif;
    font-size: 1.5rem;
    
  }
}

.imagem {
  background-color: #512D11;
  border-radius: 15%;
}

.imagem img {
  width: 22rem;
}

.fluxo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
      display: flex;
      align-items: center;
      gap: 2rem;
  }
}

.setaEsquerda {
  transform: rotate(180deg);
  width: 1.5rem; 
}

.setaDireita {
  width: 1.5rem; 
}



.lembrete{
  margin-top: 3rem;

  h3{
    margin-bottom: -2rem;
  }
}