body {
    background-image: url(../HOME/imgs/fundinho.png);
    background-color: #213807;
    line-height: 1.1;
    margin: 0 6rem;
    margin-top: 7rem;
    padding: 0;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.fluxo {
    margin-top: auto;
}

.semicirculo {
    position: absolute;
    top: -18.75rem;
    right: -18.75rem;
    width: 57.5rem;
    height: 51.875rem;
    background-color: #A8D98D;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
}

.semicirculo img.prato {
    width: 60%;
    height: auto;
    object-fit: cover;
    position: relative;
    top: 18.75rem;
    left: 5.625rem;
    z-index: 9;
}

.navbar{
    z-index: 10;
}

.primeiroParagrafo,
.segundoParagrafo {
    max-width: 46.875rem;
}

.segundoParagrafo {
    margin-bottom: 6.25rem;
}

.terceiroParagrafo {
    max-width: 65.625rem;
}

.quartoParagrafo {
    max-width: 60.3125rem;
}

h1, h2, h4, ul {
    color: #F5F5F5;
    margin-left: 7.25rem;
    margin-top: 6.25rem;
}

.conteudo p {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    margin-top: 3.2rem;
    color: #F5F5F5;
    margin-left: 7.25rem;
}

h1 {
    font-family: "Literata", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

h2 {
    font-family: "Literata", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.75rem;
}

h4 {
    font-family: "Literata", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6875rem;
}

.conteudo p {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    margin-top: 3.2rem;
}

.elemento {
    width: 26rem;
}

.fluxo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.fluxo div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fluxo div p {
    color: #F5F5F5;
}

.setaEsquerda {
    transform: rotate(180deg);
    width: 1.5rem;
    margin-left: 7.5rem;
}

.setaDireita {
    width: 1.5rem;
    margin-right: 7.5rem;
}

.texto h1{
    margin-top: 12rem;
}