body {
    background-image: url(../HOME/imgs/fundinho.png);
    background-color: #502E00;
    line-height: 1.1;
    margin: 0 6rem;
    margin-top: 7rem;
    padding: 0;
    overflow-x: hidden;
}

.semicirculo {
    position: absolute;
    top: -18.75rem;
    right: -18.75rem;
    width: 57.5rem;
    height: 51.875rem;
    background-color: #C45500;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
}

.semicirculo img {
    width: 43%;
    height: auto;
    object-fit: cover;
    position: relative;
    top: 20rem;
    left: 9.375rem;
}

.primeiroParagrafo,
.segundoParagrafo {
    max-width: 46.875rem;
}

.segundoParagrafo {
    margin-bottom: 6.25rem;
}

.terceiroParagrafo {
    max-width: 65.625rem;
}

.quartoParagrafo {
    max-width: 60.3125rem;
}

h1, h2, h4, ul {
    color: #F5F5F5;
    margin-left: 7.25rem;
    margin-top: 6.25rem;
}

.conteudo p {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    margin-top: 3.2rem;
    color: #F5F5F5;
    margin-left: 7.25rem;
}

h1 {
    font-family: "Literata", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

h2 {
    font-family: "Literata", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.75rem;
}

h4 {
    font-family: "Literata", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6875rem;
}

.elemento {
    width: 26rem;
}

.fluxo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.fluxo div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fluxo div p {
    color: #F5F5F5;
}

.setaEsquerda {
    transform: rotate(180deg);
    width: 1.5rem;
    margin-left: 7.5rem;
}

.setaDireita {
    width: 1.5rem;
    margin-right: 7.5rem;
}

strong {
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    margin-block: 6rem;
    color: #fff;
    font-weight: 700;
}

#vit img {
    width: 15rem;

}

.vits {
    display: flex;
    justify-content: space-around;
    margin-inline: 4rem;
}

.vits2 {
    display: flex;
    justify-content: space-around;
    margin-inline: 4rem;
    margin-block: 5rem;
}

.fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.fade.show {
    opacity: 1;
    pointer-events: all;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 20rem;
    max-width: 90%;
    padding: 3rem;
    border-radius: 3rem;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal p {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    color: #F5F5F5;
}

.modal.show {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(1);
}

.fechar {
    background: none;
    text-decoration: none;
    border: none;
}

.vitaminas {
    width: 4rem;
    margin-left: 8rem;
    margin-right: 5rem;
}

.imgs1,
.imgs2 {
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.imgs1 img,
.imgs2 img {
    width: 6rem;
}

.c,
.b,
.bd,
.f {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal1 {
    background-color: #315100;
    border-radius: 3rem;
    width: 25rem;
}

#modal1 .texto {
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
}

.f,
.bd {
    margin-bottom: -2rem;
}

.cima {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.cima .fechar {
    width: 3rem;
}
.fechar{
    cursor: pointer;
}

.MM {
    height: -30rem;
}

#modal2,
#modal3,
#modal4,
#modal5,
#modal6 {
    border-radius: 3rem;
    width: 25rem;
}

#modal2 {
    background-color: #9F4500;
}

#modal3 {
    background-color: #D44FA2;
}

#modal4 {
    background-color: #EA8404;
}

#modal5 {
    background-color: #CF1C00;
}

#modal6 {
    background-color: #285FD5;
}

#modal2 .texto,
#modal3 .texto,
#modal4 .texto,
#modal5 .texto,
#modal6 .texto {
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
}

.vits,
.vits2{
    cursor: pointer;
}

.vits img:hover,
.vits2 img:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
.texto h1{
    margin-top: 12rem;
}