body {
    background-color: #FFEEB7;
    background-image: url(../../EXTRAS/IMGSextras/fundinho-curiosidades.png);

    padding: 0;
    overflow-x: hidden;
    margin: 5rem 6rem;

}


.conteudo{

    line-height: 1.1;
  
    padding: 0;
    margin-top: 20rem;

}

.conteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    
   

}
.folha-logo{
    width: 30rem;
}


.botaoIniciar {
    background-color: transparent;
    border: 0.063rem solid #213807;
    color: #213807;
    padding: 0.625rem 5rem;
    border-radius: 0.3rem;
}

.botaoIniciar:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #213807;
    transition: transform 150ms;
    transform: translateY(-0.1rem);
    background-color: #213807;
    color: white;
    border: none;
    transition: 0.4s;

}

.imagem {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 0;
    margin : 0;

}

.imagem img {
    width: 37rem;
    
}